@model IEnumerable<SoftManager.Domain.Entities.ApplicationUser>

<div class="container mx-auto p-6 bg-white shadow-md rounded-lg mt-10">
    <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Usuários</h1>
    <table class="w-full table-auto border-collapse border border-gray-200">
        <thead>
            <tr>
                <th class="border border-gray-300 px-4 py-2 text-left">Nome</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Email</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td class="border border-gray-300 px-4 py-2">@user.FullName</td>
                    <td class="border border-gray-300 px-4 py-2">@user.Email</td>
                    <td class="border border-gray-300 px-4 py-2">
                        <a asp-action="Edit" asp-route-id="@user.Id" class="text-indigo-600 hover:underline">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
