@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de Redefinição de Senha";
}

<div class="container mx-auto max-w-lg p-6 bg-white shadow-md rounded-lg mt-10">
    <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">@ViewData["Title"]</h1>
    <p class="text-center text-gray-800">Por favor, verifique seu e-mail para redefinir sua senha.</p>
</div>
