@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Redefinir senha";
}

<div class="container mx-auto max-w-lg p-6 bg-white shadow-md rounded-lg mt-10">
    <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">@ViewData["Title"]</h1>
    <h2 class="text-lg text-gray-600 mb-6 text-center">Redefina sua senha.</h2>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-red-600 mb-4" role="alert"></div>
        <input asp-for="Input.Code" type="hidden" />

        <div class="mb-4">
            <label asp-for="Input.Email" class="block text-gray-700 font-medium mb-2">Email</label>
            <input asp-for="Input.Email" class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-indigo-600" placeholder="Digite seu email" />
            <span asp-validation-for="Input.Email" class="text-red-600 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Input.Password" class="block text-gray-700 font-medium mb-2">Nova senha</label>
            <input asp-for="Input.Password" class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-indigo-600" placeholder="Digite sua nova senha" />
            <span asp-validation-for="Input.Password" class="text-red-600 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Input.ConfirmPassword" class="block text-gray-700 font-medium mb-2">Confirmar senha</label>
            <input asp-for="Input.ConfirmPassword" class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-indigo-600" placeholder="Confirme sua nova senha" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-red-600 text-sm"></span>
        </div>

        <button type="submit" class="btn-primary w-full">Redefinir</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
