@using Microsoft.AspNetCore.Identity
@using SoftManager.Domain.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav flex items-center space-x-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="text-gray-700 hover:text-gray-900 px-4 py-2 rounded-md hover:bg-gray-200 transition duration-300 inline-flex items-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Olá, @User.Identity?.Name!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline inline-flex items-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="text-gray-700 hover:text-gray-900 px-4 py-2 rounded-md hover:bg-gray-200 transition duration-300">
                    Sair
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="text-gray-700 hover:text-gray-900 px-4 py-2 rounded-md hover:bg-gray-200 transition duration-300" asp-area="Identity" asp-page="/Account/Register">Registre-se</a>
        </li>
        <li class="nav-item">
            <a class="text-gray-700 hover:text-gray-900 px-4 py-2 rounded-md hover:bg-gray-200 transition duration-300" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
        </li>
    }
</ul>
