@{
	ViewData["Title"] = "Home Page";
}

<div class="flex items-center justify-center h-full text-center bg-gray-50">
	<div>
		<img src="~/images/softmanager-logo.png" alt="SoftManager Logo" class="mx-auto w-32 h-32 mb-6" />
		<p class="text-lg text-gray-600 mb-6">
			Bem-vindo ao sistema de gerenciamento de usuários e agendamento de tarefas! Explore as funcionalidades e gerencie seu negócio com eficiência!
		</p>
		<p class="text-lg text-gray-600 mb-6">
			Estamos dispostos a ajudar no crescimento do seu negócio, não fique de fora! Entre em contato conosco já: (11) 96414-1597.
		</p>
	</div>
</div>

